.crypto-title{
    font-size: 150px;
    background-image: url("https://images.unsplash.com/photo-1640833906651-6bd1af7aeea3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1172&q=80");
    background-size: contain;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body{
    background-color: black;
    
}