.crypto-title{
    font-size: 150px;
    background-image: url("https://images.pexels.com/photos/6765373/pexels-photo-6765373.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: contain;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body{
    background-color: black;
    
}